.code-warp {
    width: 100%;
    display: flex;
}

.sub-warp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .login-btn, .register-btn {
        width: 100%;
    }
}

.login-header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    .login-header-lt {
        position: relative;
        font-size: 24px;
        color: #f80;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 20px;
    }
    .login-header-lt::before {
        content: " ";
        display: inline-block;
        width: 1px;
        height: 20px;
        background-color: #ccc;
        position: absolute;
        right: -10px;
        top: 8px;

    }
    .login-header-rt {
        font-size: 24px;
        color: #333;
        font-family: Arial, Helvetica, sans-serif;
    }
}
.tip-warp {
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    .tip {
        flex: 1;
        color: #0f8;
        text-align: center;
    }
    .register-check {
        color: rgb(0, 157, 255);
        text-decoration: underline;
        cursor: pointer;

    }
}