.code-warp {
    width: 100%;
    display: flex;
}

.sub-warp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .login-btn, .register-btn {
        width: 100%;
    }
}

.tip-warp {
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    color: #999;
}