.login-container {
  width: 100vw;
  height: 100vh;
  // background-color: rgba($color: #0a1757, $alpha: 1.0);
  position: relative;
  //     .dom-back {
  //         background-size: cover;
  //         background-image:url('	https://img.alicdn.com/imgextra/i2/O1CN014NDjx31rlpEs2Zgfb_!!6000000005672-0-tps-2880-1432.jpg')
  //     }
  //     .cbsItZ {
  //         flex: 2 1 0%;
  //         height: 716px;
  //         min-width: 1480px;
  //         background-size: cover;
  //         background-attachment: fixed;
  //     }
}
.login-header {
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px 0px;
  box-sizing: border-box;
  height: 60px;
}
.login-content {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0px auto;
  padding: 78px 120px 78px 40px;
  background-size: cover;
  background-image: url("../../assets/bgImg1.jpeg");
  // 内容左侧
  .marketing-wrapper {
    cursor: pointer;
    position: relative;
    min-width: 640px;
    height: 560px;
    margin-right: 40px;
    color: transparent;
    background-color: transparent;
    img {
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
    }
    .title-header {
      padding-left: 90px;
      .main-title {
        margin-top: 100px;
        display: block;
        text-align: left;
        line-height: 40px;
        font-weight: 600;
        font-size: 32px;
        color: rgb(24, 24, 24);
        letter-spacing: 0px;
        margin-bottom: 20px;
        transition: all 0.3s ease 0s;
      }
      .sub-title {
        text-align: left;
        line-height: 24px;
        font-weight: 600;
        font-size: 16px;
        color: rgb(153, 153, 153);
        letter-spacing: 0.53px;
        display: block;
      }
      .jump-to-detail {
        font-size: 14px;
        display: block;
        margin-top: 14px;
        color: rgb(254, 106, 0);
        letter-spacing: 0.47px;
        line-height: 24px;
      }
    }
  }
  // 内容右侧
  .login-form-wrap {
    position: relative;
    min-width: 782px;
    background-color: rgb(255, 255, 255);
    height: 518px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 15px;
  }
  .wrapper {
    margin-top: 40px;
    display: flex;
    // 二维码
    .login-qr-code {
      padding-top: 0px;
      padding-left: 80px;
      padding-right: 80px;
      position: relative;
      width: 200px;
      background-color: rgb(255, 255, 255);
      z-index: 5;
    }
    .login-qr-code::after {
      content: " ";
      display: inline-block;
      width: 0.5px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgb(196, 203, 215);
    }
    // 登录输入框盒子
    .login-entry {
      margin-left: 50px;
      // width: 320px;
      .tabs-nav {
        display: flex;
        margin-bottom: 50px;
        .tabs-item {
          height: 30px;
          line-height: 30px;
          text-align: center;
          font-size: 14px;
          color: rgb(115, 119, 122);
          cursor: pointer;
          .tabs-item-text {
            display: inline-block;
            font-weight: 500;
            font-size: 18px;
            color: rgb(24, 24, 24);
            vertical-align: middle;
          }
        }
        .active {
          border-bottom-width: 2px;
          border-bottom-style: solid;
          border-bottom-color: rgb(255, 123, 0);
          color: rgb(255, 123, 0);
          .tabs-item-text {
            color: rgb(255, 123, 0);
          }
        }
        .tabs-item:not(:first-child) {
          margin-left: 34px;
        }
      }
      .tabs-content {
        width: 320px;
      }
    }
    .method {
      height: 408px;
    }
    .eSqHXk {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      align-items: center;
      margin-top: 80px;
      font-size: 12px;
      color: rgb(179, 179, 179);
    }
    .third-parties {
        display: flex;
        align-items: center;
        .third-party-login {
            display: flex;
            align-items: center;
            .third-party-login-link {
                margin-right: 10px;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }
    }
  }
  .protocol {
    margin-top: 40px;
    text-align: center;
    cursor: pointer;
    color: unset;
    text-decoration-line: unset;
    text-decoration-style: unset;
    text-decoration-color: unset;
    text-decoration: unset;
    .juxDxC {
      font-size: 12px;
      color: rgb(179, 179, 179);
      .hover-orange {
        cursor: pointer;
      }
    }
  }
}
.tip-warp {
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  .tip {
    flex: 1;
    color: #0f8;
    text-align: center;
  }
  .register-check {
    color: rgb(0, 157, 255);
    text-decoration: underline;
    cursor: pointer;
  }
}
